.grid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: row;
    width: 25vw;
    height: 25vw;
}

.grid-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-pixel {
    background-color: yellow;
    padding-top: 100%;
    flex: 1 1 auto;
}

button {
    background-color: lightskyblue;
    padding: 10px 30px;
    border-radius: 10px;
    border: navy solid 2px;
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 45px;
}

h1 {
    text-align: center;
}